# macOS
.DS_Store

# Logs
*.log

# Environment
.env
.env.*
Secret.plist

# Xcode
DerivedData/
build/
*.xcuserstate
*.xcworkspace
*.xcuserdata/
*.xcresult

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# App Packaging
*.ipa
*.dSYM
*.dSYM.zip

# Swift Package Manager
.build/
Packages/
Package.resolved
.swiftpm/

# CocoaPods
Pods/

# Carthage
Carthage/
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# Editors
.idea/
.vscode/

# General
*.orig
*.tmp
*.swp
*~.nib
