<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>COMETCHAT_APP_ID</key>
	<string>YOUR_APP_ID</string>
	<key>COMETCHAT_REGION</key>
	<string>YOUR_REGION</string>
	<key>COMETCHAT_AUTH_KEY</key>
	<string>YOUR_AUTH_KEY</string>
</dict>
</plist>
